.header {
  padding: 10px 0 40px;
  background-color: white;


  &__logo-link {
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  color: black;
  display: block;
}
}

.nav-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav{
  padding-top: 15px;

  &__list{
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding-left: 40px;
  }

  &__item-cart{
    display: inline-block;
    padding-left: 70px;
  }

  &__link {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: #6C6C6C;
  }

  &__link:hover{
    color: #AC1313;
  }

  &__link--active{
    color: #AC1313;
  }

}
