.hero{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-holder {
  width: 575px;
  padding: 95px 0 0;

  &__subtitle {
    color: #D77474;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
  }

  &__title {
    font-size: 48px;
    margin: 0 0 15px;
    line-height: 58px;
  }

  &__text-holder__title--section-title,

  &__title-symbol {
    color: #AC1313;
    font-size: 68px;
    font-family: 'Playfair Display', serif;
  }



  .btn {
    padding-top: 50px;
  }
}

.image-holder{
  width: 50%;
  padding: 60px 0 ;
}
