@import "blocks/__main-page.css";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
  color: #6C6C6C;
}

h1 {
  color: black;
  font-family: "Poppins", sans-serif;
}

.main-title {
  font-size: 40px;
  line-height: 50px;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn__link {
  font-size: 12px;
  padding: 20px 30px;
  background-color: #AC1313;
  color: white;
  border-radius: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.btn__link:hover {
  color: black;
}

.header {
  padding: 10px 0 40px;
  background-color: white;
}
.header__logo-link {
  text-decoration: none;
  font-family: "Pacifico", cursive;
  font-size: 36px;
  color: black;
  display: block;
}

.nav-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  padding-top: 15px;
}
.nav__list {
  list-style: none;
}
.nav__item {
  display: inline-block;
  padding-left: 40px;
}
.nav__item-cart {
  display: inline-block;
  padding-left: 70px;
}
.nav__link {
  text-decoration: none;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #6C6C6C;
}
.nav__link:hover {
  color: #AC1313;
}
.nav__link--active {
  color: #AC1313;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-holder {
  width: 575px;
  padding: 95px 0 0;
}
.text-holder__subtitle {
  color: #D77474;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}
.text-holder__title {
  font-size: 48px;
  margin: 0 0 15px;
  line-height: 58px;
}
.text-holder__text-holder__title--section-title, .text-holder__title-symbol {
  color: #AC1313;
  font-size: 68px;
  font-family: "Playfair Display", serif;
}
.text-holder .btn {
  padding-top: 50px;
}

.image-holder {
  width: 50%;
  padding: 60px 0;
}